<aside class="col-lg-3 border-end">
    <nav class="nav nav-pills flex-lg-column mb-4">
        <a class="nav-link <%= currentPage === 'profile' ? 'active' : '' %>" href="/profile">General</a>
        <a class="nav-link <%= currentPage === 'address' ? 'active' : '' %>" href="/address">Address</a>
        <a class="nav-link <%= currentPage === 'orders' ? 'active' : '' %>" href="/orders">Orders</a>
        <a class="nav-link <%= currentPage === 'wallet' ? 'active' : '' %>" href="/wallet">Wallet</a>
    </nav>
</aside>