<%- include("../../views/partials/admin/header") %>

<section class="content-main" >
    <div class="content-header">
        <h2 class="content-title card-title">Page Not Found</h2>
    </div>
    <div class="card">
        <div class="card-body text-center" style="height: 65vh; padding-top: 14vh;" >
            <h1 class="display-1 cl8">404</h1>
            <h3>Oops! The page you are looking for doesn't exist.</h3>
            <p class="mb-4">
                It seems the page you were trying to access is not available or the URL is incorrect.
            </p>
            <a href="/admin" class="btn btn-primary">Back to Dashboard</a>
        </div>
    </div>
</section>

<%- include("../../views/partials/admin/footer") %>
