<%- include("../../views/partials/user/header") %>

<style>
    .content-main{
        height: 50vh;
    }
    .spacer{
        height: 30vh;
    }
</style>
<div class="spacer"></div>

<section class="content-main mt-80 mb-80">
   <div class="card mx-auto card-login col-4">
       <div class="card-body">
           <h4 class="card-title mb-4">Update Passowrd</h4>
           <form method="post" action="/changePassword" onsubmit="return validateLoginForm()">
               <div class="mb-3">
                   <input class="form-control" name="currentPassword" placeholder="Current Password" type="text" id="password">
                   <div class="error-message" id="password-error"></div>
               </div>
               <div class="mb-3">
                   <input class="form-control" name="newPassword" placeholder="New Password" type="text" id="password">
                   <div class="error-message" id="password-error"></div>
               </div>
               <div class="mb-3">
                   <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="text" id="password">
                   <div class="error-message" id="password-error"></div>
               </div>
               <%if(locals.message && message.length>0){%>
                <div class="alert alert-danger text-center">
                    <%=message%>
                </div>
              <%}%>
               <div class="mb-4">
                   <button type="submit" class="btn btn-primary w-100">Update</button>
               </div>
           </form>
         
          
       </div>
   </div>
</section>
<script>
   function validateLoginForm() {
       const passwordInput = document.getElementById('password1');
       const passwordError = document.getElementById('password-error');
       const passwordValue = passwordInput.value.trim();



       if (passwordValue === '') {
           passwordError.textContent = 'Please enter your password.';
           passwordInput.classList.add('is-invalid');
           return false;
       } else {
           passwordError.textContent = '';
           passwordInput.classList.remove('is-invalid');
           return true;
       }
   }
</script>
<%- include("../../views/partials/user/footer") %>

